h1{
  text-align: center;
  color: #827;
  font-style: normal;
  font-size: 50px;
}
h2{
  color: #855;
  font-size: 40px;
  font-style: normal;
}
p{
  color: #444;
  font-family: serif;
  font-size: 20px;
}
p.flashy{
  color: red;
  font-style: italic;
}
table.flashy{
  color: red;
  font-style: italic;
  font-size: 20px;
}
ul.variety{
  color: #906;
  font-weight: bold;
  font-family: serif;
  font-size: 20px;
}
.important{
  font-weight: bold;
  color: #444;
}
table{
  border: 1;
  width: 100%;
}
body{
  background-color: #FFD700;
}
